.h1 {
  font-weight: normal;
  font-size: 48px;
  line-height: 66px;
  font-family: "Ogg";
}

.h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 33px;
  font-family: "Ogg";
  font-style: normal;
}

h3,
.h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  font-family: "Ogg";
}

.label {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  font-family: "Ogg";
}

p {
  font-family: "Apercu Mono Pro";
}

a {
  cursor: pointer;
}

.body-s {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  font-family: "Apercu Mono Pro";
}

.body-xs {
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  font-family: "Apercu Mono Pro";
}
.regular-20 {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  font-family: "Apercu Mono Pro";
}
.body-s1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  font-family: "Apercu Mono Pro";
  letter-spacing: -1px;
}
.body-xl {
  font-family: "Apercu Mono Pro";
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -2px;
}
.h2-xs {
  font-weight: 500;
  font-size: 20px;
  line-height: 33px;
  font-family: "Apercu Mono Pro";
}
.h1-xs {
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
  font-family: "Ogg";
}
.h2-xl {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -1px;
  font-family: "Apercu Mono Pro";
}
