// color variable
$wirefram-bg:#F4F4F4;
$white:#FFFFFF;
$label:#707585;
$secondary:#505E77;
$m-gray:#EEF0F6;
$m-green:#0CA56A;
$m-purple:#160E33;
$m-red:#DE4343;
$navy-100: #1D2B50;
$font-intel: 'Inter', sans-serif;
$primary: $navy-100;